<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置属性文件的路径-->
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.yhy.model"/>
    </typeAliases>

    <!--JDBC环境部分, JDBC的参数-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.pwd}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
    <!--接口映射(对象关系映射文件)路径-->
   <!-- <mapper resource="com.yhy.mapper/UserMapper.xml"/>-->

    <!--Mapper代理方式  -->
    <package name="com.yhy.mapper"/>
    </mappers>
</configuration>