<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="1.css">
</head>
<body>
<div class="main">
    <div class="main-left">
        <div class="main-left-content">
            <ul>
                <li><img src="img/美食.png" alt=""><span class="select">美食</span><i>＞</i></li>
                <li><img src="img/外卖.png" alt=""><span class="select">外卖</span><i>＞</i></li>
                <li><img src="img/酒店.png" alt=""><span class="select">酒店</span><i>＞</i></li>
                <li><img src="img/民宿.png" alt=""><span class="select">民宿</span><i>＞</i></li>
                <li><img src="img/猫眼电影.png" alt=""><span class="select">猫眼电影</span><i>＞</i></li>
                <li><img src="img/机票.png" alt=""><span class="select">机票</span><span>/</span><span class="select">火车票</span><i>＞</i></li>
                <li><img src="img/休闲.png" alt=""><span class="select">休闲娱乐</span><span>/</span><span>KTV</span><i>＞</i></li>
                <li><img src="img/生活.png" alt=""><span class="select">生活服务</span><i>＞</i></li>
                <li><img src="img/丽人.png" alt=""><span class="select">丽人</span><span>/</span><span class="select">美发</span><span>/</span><span class="select">医学美容</span><i>＞</i></li>
                <li><img src="img/结婚.png" alt=""><span class="select">结婚</span><span>/</span><span class="select">婚纱摄影</span><span>/</span><span class="select">婚宴</span><i>＞</i></li>
                <li><img src="img/亲子.png" alt=""><span class="select">亲子</span><span>/</span><span class="select">儿童乐园</span><span>/</span><span class="select">幼教</span><i>＞</i></li>
                <li><img src="img/运动.png" alt=""><span class="select">运动健身</span><span>/</span><span class="select">健身中心</span><i>＞</i></li>
                <li><img src="img/家装.png" alt=""><span class="select">家装</span><span>/</span><span class="select">建材</span><span>/</span><span class="select">家居</span><i>＞</i></li>
                <li><img src="img/学习.png" alt=""><span class="select">学习培训</span><span>/</span><span class="select">音乐培训</span><i>＞</i></li>
                <li><img src="img/医疗.png" alt=""><span class="select">医疗健康</span><span>/</span><span class="select">宠物</span><span>/</span><span class="select">爱车</span><i>＞</i></li>
                <li><img src="img/酒吧.png" alt=""><span class="select">酒吧</span><span>/</span><span class="select">密室逃脱</span><i>＞</i></li>
            </ul>
        </div>
    </div>
    <div class="main-middle">
        <div class="main-middle-content">
            <div class="main-middle-content-top">
                <div class="main-main-content-top-left">
                    <div class="main-main-content-top-left-prev"><</div>
                    <div class="main-main-content-top-left-next">></div>
                </div>
                <div class="main-main-content-top-right"></div>
            </div>
            <div class="main-middle-content-foot">
                <div class="main-middle-content-foot-left"></div>
                <div class="main-middle-content-foot-middle"></div>
                <div class="main-middle-content-foot-right"></div>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-content">
            <div class="main-right-content-top">
                <div class="main-right-content-top-img"></div>
                <div class="main-right-content-top-content">Hi！你好</div>
                <div class="main-right-content-top-login">注册</div>
                <div class="main-right-content-top-register">立即登录</div>
            </div>
            <div class="main-right-content-foot">
                <div class="main-right-content-foot-2D"></div>
                <div class="main-right-content-foot-content">
                    <p>美团APP手机版</p>
                    <span class="money">1元起</span><span>吃喝玩乐</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
